<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>envoy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5062ABDD1D32507900B66A39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5062ABF41D32507900B66A39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5062ABFF1D32507900B66A39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
